<div class="section">
  <div class="container">
    <form novalidate class="col s12 my-repeat-animation" ng-repeat="file in files">
      <div class="card" style="overflow: display">
        <div class="card-image waves-effect waves-block waves-light">
          <!-- Don't judge, #noragrets -->
          <img id="{{file.uuid}}" ng-src="{{file.uri == '' ? 'css/white.jpg' : file.type == 'file' ? 'css/folder.png' : file.uri}}" class="activator">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 truncate">
            {{file.title == '' ? 'Enter a title' : file.title}}
          </span>
          <p class="truncate">{{file.desc == '' ? 'Enter a description' : file.desc}}</p>
          <div class="divider"></div>
          <div class="section">
            <button class="waves-effect waves-light btn" ng-click="getPicture(file);">Camera</button>
            <div class="right">
              <input type="checkbox" id="editmode-{{file.uuid}}" ng-model="file.edit" checked="checked" />
              <label for="editmode-{{file.uuid}}">Edit?</label>
            </div>
            <div style="margin-top: 15px">
              <button class="waves-effect waves-light btn" ng-show="'{{dp}}' == 'Android'" ng-click="getFile(file);">File</button>
              <button class="waves-effect waves-light btn" ng-show="'{{dp}}' == 'iOS'" ng-click="getPictureFromLibrary(file);">File</button>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 ">{{file.title == '' ? 'Enter a title' : file.title}}</span>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Title" type="text" class="form-control" ng-model="file.title" ng-class="{true: 'active', false: ''}[file.title != '']" class="validate">
              <label ng-class="{true: 'active', false: ''}[file.title != '']">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Description" type="text" class="form-control" ng-model="file.desc" ng-class="{true: 'active', false: ''}[file.desc != '']" class="validate">
              <label ng-class="{true: 'active', false: ''}[file.desc != '']">Description</label>
            </div>
          </div>

          <div class="row">
            <div class="left" style="padding-left:5px; padding-top:5px;" ng-repeat="i in file.tags">
              <div class="chip">
                  {{i}}
                  <i class="material-icons" ng-click="removeTag(i, file);">close</i>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <button class='dropdown-button btn' ng-click="hack('file-tag-dropdown-' + file.uuid, 'file-tag-dropdown-content-' + file.uuid)" id="file-tag-dropdown-{{file.uuid}}" data-activates='file-tag-dropdown-content-{{file.uuid}}'>Select tag</button>
              <ul id='file-tag-dropdown-content-{{file.uuid}}' class='dropdown-content'>
                <li ng-repeat="i in settings.tags" ng-click="addTag(i.tag, file);"><a href="">{{i.tag}}</a></li>
              </ul>
            </div>
          </div>

          <button id="toggel-options" ng-click="remove(file)" class="waves-effect waves-light btn" ng-hide="files.length == 1"> Remove </button>

        </div>
      </div>
    </form>
    <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
      <button class="btn-floating btn-large waves-effect red" ng-click="addFile()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <button class="waves-effect waves-light btn red" ng-click="reset()" style="margin-right:5px;">Reset</button>
    <button class="waves-effect waves-light btn" ng-click="save()">Save</button>
  </div>
</div>
