<div class="section">
    <div class="container">
  <h3>Pending</h3>
  <div class="col s12 my-repeat-animation" ng-repeat="pen in pending">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img ng-src="{{pen.uri}}" class="activator">
      </div>

      <div class="card-content">

        <h3>
          <span class="card-title activator grey-text text-darken-4 truncate"><i>{{pen.title == '' ? 'No title' : pen.title}}</i>
          </span>
        </h3>

        <p class="truncate"><i>{{pen.desc == '' ? 'No description' : pen.desc}}</i></p>
        <div class="divider"></div>
        <div class="section">

        </div>
      </div>
    </div>
  </div>

  <h3>History</h3>
  <div class="col s12 my-repeat-animation" ng-repeat="his in history">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img ng-src="{{his.uri}}" class="activator">
      </div>

      <div class="card-content">

        <h3>
          <span class="card-title activator grey-text text-darken-4 truncate"><i>{{his.title == '' ? 'No title' : his.title}}</i>
          </span>
        </h3>

        <p class="truncate"><i>{{his.desc == '' ? 'No description' : his.desc}}</i></p>
        <div class="divider"></div>
        <div class="section">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
